@model IEnumerable<VideoViewModel>

<title>Videos</title>
<h1>Videos</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Genre</th>

    </tr>

    @foreach (var video in Model)
    {
    <tr>
        <td><a asp-action="Details" asp-route-id="@video.Id">@video.Id</a></td>
        <td>@video.Title</td>
        <td>@video.Genre</td>

    </tr>
    }
</table>
